.pengeluaran-tabel-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.pengeluaran-tabel-thq-pengeluaran-tabel-elm {
  width: 100%;
  height: 803px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.pengeluaran-tabel-thq-bekroncik-elm {
  top: 0px;
  left: 0px;
  width: 1520px;
  height: 803px;
  position: absolute;
}
 
.pengeluaran-tabel-thq-group21-elm {
  top: 126px;
  left: 160px;
  width: 576px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.pengeluaran-tabel-thq-navigarsi-elm {
  top: 0px;
  left: 0px;
  width: 576px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pengeluaran-tabel-thq-home-elm {
  top: -34px;
  left: 2px;
  width: 14px;
  height: 14px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pengeluaran-tabel-thq-svg-elm1 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
}
 
.pengeluaran-tabel-thq-arrow-right-icon-elm {
  top: -34px;
  left: 22px;
  width: 14px;
  height: 14px;
  position: absolute;
}
 
.pengeluaran-tabel-thq-text-elm10 {
  top: -35px;
  left: 42px;
  color: rgba(29, 33, 43, 1);
  width: 109px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-text-elm11 {
  top: -35px;
  left: 42px;
  color: rgba(29, 33, 43, 1);
  width: 109px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-group20-elm {
  top: 10px;
  left: 2px;
  width: 260px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.pengeluaran-tabel-thq-text-elm12 {
  color: rgba(29, 33, 43, 1);
  width: 260px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-text-elm13 {
  top: 36px;
  color: rgba(110, 118, 135, 1);
  width: 174px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-rectangle15-elm {
  top: 219px;
  left: 572px;
  width: 376px;
  height: 99px;
  position: absolute;
  border-color: rgba(220, 223, 229, 0.4000000059604645);
  border-style: solid;
  border-width: 1px;
  border-radius: 14px;
}
 
.pengeluaran-tabel-thq-rectangle17-elm {
  top: 219px;
  left: 160px;
  width: 376px;
  height: 99px;
  position: absolute;
  border-color: rgba(220, 223, 229, 0.4000000059604645);
  border-style: solid;
  border-width: 1px;
  border-radius: 14px;
}
 
.pengeluaran-tabel-thq-rectangle18-elm {
  top: 345px;
  left: 160px;
  width: 1196px;
  height: 74px;
  position: absolute;
  border-color: rgba(220, 223, 229, 0.4000000059604645);
  border-style: solid;
  border-width: 1px;
  border-radius: 14px;
}
 
.pengeluaran-tabel-thq-rectangle38-elm {
  top: 537px;
  left: 164px;
  width: 1192px;
  height: 74px;
  position: absolute;
  border-color: rgba(220, 223, 229, 0.4000000059604645);
  border-style: solid;
  border-width: 1px;
}
 
.pengeluaran-tabel-thq-rectangle29-elm {
  top: 362px;
  left: 187px;
  width: 529px;
  height: 40px;
  position: absolute;
  border-color: rgba(220, 223, 229, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
 
.pengeluaran-tabel-thq-text-elm14 {
  top: 372px;
  left: 202px;
  color: rgba(110, 118, 135, 1);
  width: 147px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-rectangle30-elm {
  top: 360px;
  left: 735px;
  width: 175px;
  height: 40px;
  position: absolute;
  border-color: rgba(220, 223, 229, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
 
.pengeluaran-tabel-thq-text-elm15 {
  top: 370px;
  left: 754px;
  color: rgba(29, 33, 43, 1);
  width: 114px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-rectangle31-elm {
  top: 362px;
  left: 929px;
  width: 175px;
  height: 40px;
  position: absolute;
  border-color: rgba(220, 223, 229, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
 
.pengeluaran-tabel-thq-rectangle32-elm {
  top: 362px;
  left: 1147px;
  width: 83px;
  height: 40px;
  position: absolute;
  border-color: rgba(220, 223, 229, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
 
.pengeluaran-tabel-thq-rectangle33-elm {
  top: 362px;
  left: 1250px;
  width: 83px;
  height: 40px;
  position: absolute;
  border-color: rgba(220, 223, 229, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
 
.pengeluaran-tabel-thq-group5-elm {
  top: 234px;
  left: 202px;
  width: 134px;
  height: 69px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.pengeluaran-tabel-thq-text-elm16 {
  color: rgba(110, 118, 135, 1);
  width: 134px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 16.5px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-text-elm17 {
  top: 20.5px;
  color: rgba(29, 33, 43, 1);
  width: 127px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 600;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-text-elm18 {
  top: 53px;
  color: rgba(110, 118, 135, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 16.5px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-group22-elm {
  top: 234px;
  left: 613px;
  width: 134px;
  height: 69px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.pengeluaran-tabel-thq-text-elm19 {
  color: rgba(110, 118, 135, 1);
  width: 134px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 16.5px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-text-elm20 {
  top: 20.5px;
  color: rgba(29, 33, 43, 1);
  width: 127px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 600;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-text-elm21 {
  top: 53px;
  color: rgba(110, 118, 135, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 16.5px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-rectangle16-elm {
  top: 219px;
  left: 980px;
  width: 376px;
  height: 99px;
  position: absolute;
  border-color: rgba(220, 223, 229, 0.4000000059604645);
  border-style: solid;
  border-width: 1px;
  border-radius: 14px;
}
 
.pengeluaran-tabel-thq-group23-elm {
  top: 234px;
  left: 1031px;
  width: 180px;
  height: 69px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.pengeluaran-tabel-thq-text-elm22 {
  color: rgba(110, 118, 135, 1);
  width: 134px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 16.5px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-text-elm23 {
  top: 20px;
  color: rgba(29, 33, 43, 1);
  width: 180px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-text-elm24 {
  top: 53px;
  color: rgba(110, 118, 135, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 16.5px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-text-elm25 {
  top: 372px;
  left: 942px;
  color: rgba(29, 33, 43, 1);
  width: 114px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-text-elm26 {
  top: 372px;
  left: 1174px;
  color: rgba(29, 33, 43, 1);
  width: 29px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-text-elm27 {
  top: 372px;
  left: 1273px;
  color: rgba(29, 33, 43, 1);
  width: 37px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-chevronbottomnormal-elm1 {
  top: 370px;
  left: 878px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.pengeluaran-tabel-thq-chevronbottomnormal-elm2 {
  top: 370px;
  left: 1069px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.pengeluaran-tabel-thq-rectangle34-elm {
  top: 452px;
  left: 164px;
  width: 1192px;
  height: 45px;
  position: absolute;
  border-radius: 10px 10px 0 0;
}
 
.pengeluaran-tabel-thq-text-elm28 {
  top: 466px;
  left: 183px;
  color: rgba(110, 118, 135, 1);
  width: 147px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-text-elm29 {
  top: 466px;
  left: 415px;
  color: rgba(110, 118, 135, 1);
  width: 66px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-text-elm30 {
  top: 466px;
  left: 690px;
  color: rgba(110, 118, 135, 1);
  width: 66px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-text-elm31 {
  top: 466px;
  left: 857px;
  color: rgba(110, 118, 135, 1);
  width: 66px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-text-elm32 {
  top: 466px;
  left: 1078px;
  color: rgba(110, 118, 135, 1);
  width: 66px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-text-elm33 {
  top: 466px;
  left: 1259px;
  color: rgba(110, 118, 135, 1);
  width: 66px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-rectangle37-elm {
  top: 497px;
  left: 164px;
  width: 1192px;
  height: 40px;
  position: absolute;
}
 
.pengeluaran-tabel-thq-text-elm34 {
  top: 509px;
  left: 183px;
  color: rgba(29, 33, 43, 1);
  width: 140px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-text-elm35 {
  top: 566px;
  left: 415px;
  color: rgba(29, 33, 43, 1);
  width: 179px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-text-elm36 {
  top: 566px;
  left: 690px;
  color: rgba(29, 33, 43, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-text-elm37 {
  top: 565px;
  left: 857px;
  color: rgba(29, 33, 43, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-group25-elm {
  top: 560px;
  left: 183px;
  width: 177px;
  height: 29px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(56, 138, 108, 0.10000000149011612);
}
 
.pengeluaran-tabel-thq-text-elm38 {
  top: 4px;
  left: 11px;
  color: rgba(29, 33, 43, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-text-elm39 {
  top: 566px;
  left: 1065px;
  color: rgba(211, 49, 49, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 19.5px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-iconpenciledit1-elm {
  top: 550px;
  left: 1253px;
  width: 46px;
  height: 46px;
  position: absolute;
}
 
.pengeluaran-tabel-thq-svg-elm2 {
  top: 562px;
  left: 1225px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.pengeluaran-tabel-thq-svg-elm3 {
  top: 560px;
  left: 1305px;
  width: 23px;
  height: 23px;
  position: absolute;
}
 
.pengeluaran-tabel-thq-group36-elm {
  top: 140px;
  left: 1138px;
  width: 218px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.pengeluaran-tabel-thq-group34-elm {
  top: 0px;
  left: 0px;
  width: 218px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.pengeluaran-tabel-thq-group32-elm {
  top: 0px;
  left: 0px;
  width: 218px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(56, 138, 108, 1);
}
 
.pengeluaran-tabel-thq-text-elm40 {
  top: 17px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 169px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-chevronbottomnormal-elm3 {
  top: 8px;
  left: 181px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.pengeluaran-tabel-thq-plus-icon-elm {
  top: 12px;
  left: 5px;
  width: 16px;
  height: 16px;
  position: absolute;
}
 
.pengeluaran-tabel-thq-header-elm {
  top: 0px;
  left: 162px;
  width: 1358px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pengeluaran-tabel-thq-rectangle5-elm {
  top: 0px;
  left: -9px;
  width: 1349px;
  height: 64px;
  position: absolute;
  border-color: rgba(220, 223, 229, 1);
}
 
.pengeluaran-tabel-thq-group3-elm {
  top: 18px;
  left: 1125px;
  width: 200px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.pengeluaran-tabel-thq-text-elm41 {
  top: 3px;
  left: 40px;
  color: rgba(29, 33, 43, 1);
  width: 136px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pengeluaran-tabel-thq-user-elm {
  top: 6px;
  left: 6px;
  width: 16px;
  height: 16px;
  position: absolute;
}
 
.pengeluaran-tabel-thq-ellipse1-elm {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
}
 
.pengeluaran-tabel-thq-chevronbottomnormal-elm4 {
  top: 3px;
  left: 176px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.pengeluaran-tabel-link {
  display: contents;
}
 
.pengeluaran-tabel-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.pengeluaran-tabel-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.pengeluaran-tabel-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
